<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/04-WebserviceSOAP-requester/src/br/com/fiap/teste/CursoPSAnualTeste.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="br.com.fiap.teste.CursoPSAnualTeste"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="04-WebserviceSOAP-requester"/>
</launchConfiguration>
